<div class="comment_box ">
    <div class="Comment j-Comment j-exposure-stat" data-statectn="newplay_cmt">
        <div class="cmt-box j-cmt-box">
            <div class="cnt_tit">
                <h3><a href="javascript:;" category="comment">乐迷评论</a><b class="cmt-count"></b></h3>
            </div>
            <div class="vote_comment">
                <div class="cmt-info-text">
                    <div class="cmt-textarea j-cmt-textarea">
                        <div class="cmt-userWork j-cmt-userWork">
                            <textarea k-name="cmt/edit" class="j-comment-ta" name="" cols="" rows="" placeholder="有什么感想，您也来说说吧！"></textarea>
                            <span class="cmt-txtNum"><b class="j-txtNum">0</b><b>/140</b></span>
                        </div>
                        <div class="cmt-userInfo j-cmt-userInfo">
                            <p class="user_con">
                                <img class="user_photo" src="https://i1.letvimg.com/lc06_user/201706/19/09/20/14978352576098_50_50.jpg">
                                <span class="user_name">北京乐迷</span>
                                <span k-name="cmt/changeUser" class="user_change j-cmt-changeUser">
                                                    <a href="javascript:;">切换账户</a>
                                                </span>
                            </p>
                            <span k-name="cmt/editAction" class="cmt-btmBlue j-cmt-btmBlue" title="发表评论">发表评论</span>
                            <span class="cmt_vote" title="发起投票">
                                                <a href="javascript:;">发起投票</a>
                                            </span>
                        </div>
                        <span class="pop_jifen" style="display:none"></span>
                        <div class="cmt-popTips">
                            <p class="cnt"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="voteBox"></div>

            <!--全部评论-->
            <div style="visibility: visible;" class="cmt-listTxt j-cmt-listTxt j-cmt-tabs">
                <div style="" class="page-info j-page-info">
                    <p class="page-crumbs">共<b class="cmt-count"></b></p>
                    <div k-name="cmt/gopage" class="next-page j-cmt-page ">
                        <a title="上一页" class="next-btn j-cmt-pre-page disable" href="javascript:void(0);">上一页</a>
                        <a title="下一页" class="next-btn j-cmt-nex-page" href="javascript:void(0);">下一页</a>
                    </div>
                </div>
                <div class="j-listTxt">
                </div>
                <div class="j-listContent">
                    <p class="cmt-empty j-cmt-empty" style="display: none;"><i class="nocmt"></i><span>英雄，快来抢沙发！</span></p>
                </div>
                <div style="" class="page-info j-page-info ">
                    <p class="page-crumbs">共<b class="cmt-count"></b></p>
                    <div k-name="cmt/gopage" class="next-page j-cmt-page">
                        <a href="javascript:void(0);" class="next-btn j-cmt-pre-page disable" title="上一页">上一页</a>
                        <a href="javascript:void(0);" class="next-btn j-cmt-nex-page" title="下一页">下一页</a>
                    </div>
                </div>
                <div style="display: none;" class="section-loding j-cmt-section-loding">加载中...</div>
            </div>

            <!-- 投票评论 -->
            <div class="cmt-listVote j-cmt-listVote j-cmt-tabs">
                <div style="display:none;" class="page-info j-page-info">
                    <p class="page-crumbs"><b class="j-pageAll"></b></p>
                    <div k-name="cmt/gopage" class="next-page j-cmt-page "></div>
                </div>
                <div class="j-listContent"><p class="cmt-empty j-cmt-empty"><i class="nocmt"></i><span>英雄，快来抢沙发！</span></p></div>
                <div style="display:none;" class="page-info j-page-info ">
                    <p class="page-crumbs"><b class="j-pageAll"></b></p>
                    <div k-name="cmt/gopage" class="next-page j-cmt-page"></div>
                </div>
            </div>
        </div>
    </div>
</div>