<div class="top_con" id="play_info">
    <ul id="j-ulInfo">
        <% htmlItems.forEach(function($item, $i){ %>
            <%- include("./infoItems/" + $item + ".html") %>
        <% }) %>
    </ul>
    <script>
        (function () {
            var el = document.getElementById('j-ulInfo');
            var score = el.querySelector('.j-score');
            if (el && score) {
                var index = -1;
                var chl = el.children;
                // IE8x下会把注释标签也当做el的children
                for (var j = 0; j < chl.length; j++) {
                    if (chl[j].tagName.toUpperCase() !== 'LI') {
                        el.removeChild(chl[j]);
                        j--;
                    }
                }
                chl = el.children;

                for (var i = 0; i < chl.length; i++) {
                    if (chl[i] === score) {
                        index = i;
                        break;
                    }
                }

                if (index !== 3) {
                    el.removeChild(score);
                    var ind = Math.min(3, chl.length - 1);
                    var tmp = chl[ind];
                    if (tmp.insertAdjacentElement) {
                        tmp.insertAdjacentElement('beforeBegin', score);
                    } else {
                        tmp.parentNode.insertBefore(score, tmp);
                    }
                }
            }
        })();
    </script>
</div>