<!--juji-->
<% if (pagination) { %>
<div class="show_play first_videolist" id="first_videolist">
    <div class="column_body">
        <div class="tuwen_drama j_tuwen_drama">
            <div class="tuwen_box">
                <% var homepage = pagination[description.nowpage]['pagenum'] %>
                <div class="tuwen_box_tit years tv_tvnum">
                    <div class="ico_prev arr_left icon_font icon_left"></div>
                    <div class="years_list tv_tvlist tuwen_box_tit_juji_list">
                        <ul class="juji_list">
                            <%
                                pagination.forEach(function($item, $i) {
                                    var classStyle = '';
                                    if(description.nowpage === $i) {
                                        classStyle = 'on active curOn';
                                    }
                            %>
                            <li class="<%= classStyle %>" year="<%= $item['pagenum'] %>" data="{'pid': '<%= info.pid %>', 'platform': 'pc', 'page': '<%= $i+1 %>', 'pagesize': '50', 'type': '1'}" over="<%= description.isEnd %>">
                                <a href="javascript:;"><%= $item['pagenum'] %></a>
                            </li>
                            <% }) %>
                        </ul>
                    </div>
                    <div class="ico_next arr_right icon_font icon_right"></div>
                    <% if (pagination) { %>
                    <div class="box_tit_r pic_num">
                        <a class="pic_xji active">图文选集</a>
                        <i class="">|</i>
                        <a class="num_xji">数字选集</a>
                    </div>
                    <% } %>
                </div>

                <div class="j_all_tuwen">
                    <div class="show_cnt twxj-<%= homepage %>"
                         data-state-area="ch=detail&pg=tvdetails&bk=first_episode">
                        <%
                            var videolength = (episodeInfo.length - 3 - (episodeInfo.length - episodelength));
                            if(episodeInfo) {
                                episodeInfo.forEach(function($item, $i){
                                    var ico = '';
                                    var iconame = '';
                                    if($item.videoType=='预告片') {
                                        ico = 'ico_red';
                                        iconame = '预告';
                                    } else if ($item.chargeType === 1) {
                                        ico = 'ico_vip';
                                        iconame = '会员';
                                    }  else if ($item.chargeType === 2) {
                                        ico = 'ico_vpay';
                                        iconame = '付费';
                                    }  else if ($item.chargeType === 3) {
                                        ico = 'ico_vcoupons';
                                        iconame = '用券';
                                    } else if (description.isEnd !== 1 && $i >= videolength) {
                                        ico = 'ico_green';
                                        iconame = '最新';
                                    }
                        %>
                        <div class="col_4" index="<%= $i %>">
                            <dl class="dl_temp">
                                <dd class="d_img">
                                    <a href="<%= $item.videoUrl %>" target="_blank" title="<%= $item.title %>">
                                        <img src="http://i2.letvimg.com/lc04_img/201607/01/10/55/dl_temp.png" alt="<%= $item.title %>">
                                        <i data-src="<%= $item.pic %>"></i>
                                        <span class="video_info"><%= $item.videoDuration %></span>
                                        <em class="<%= ico %>"><%= iconame ? iconame : '' %></em>
                                    </a>
                                </dd>
                                <dt class="d_tit">
                                    <a title="<%= $item.title %>" href="<%= $item.videoUrl %>" target="_blank"><%= $item.videoEpisode %></a>
                                </dt>
                                <dd class="d_cnt"><%= $item.sub_title || $item.title %></dd>
                            </dl>
                        </div>
                        <% }) %>
                        <% } %>
                    </div>
                </div>

                <div class="j_all_juji"></div>
            </div>
        </div>
    </div>
</div>
<% } %>