<!DOCTYPE html>
<html>

<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
          name="viewport">
    <link href="https://www.datocms-assets.com" rel="dns-prefetch">
    <link href="https://cdn-staging.policygenius.com" rel="dns-prefetch">
    <link href="https://res-1.cloudinary.com" rel="dns-prefetch">
    <link href="https://res-2.cloudinary.com" rel="dns-prefetch">
    <link href="https://res-3.cloudinary.com" rel="dns-prefetch">
    <link href="https://res-4.cloudinary.com" rel="dns-prefetch">
    <link href="https://res-5.cloudinary.com" rel="dns-prefetch">
    <script src="/js/klk3quh.js">
    </script>
    <script>
        function toQueryString(object) {
            var queryStringBits = [];
            for (var key in object) {
                if (key && object[key]) {
                    queryStringBits.push(key + '=' + object[key]);
                }
            }
            if (queryStringBits.length) {
                return '?' + queryStringBits.join('&');
            } else {
                return '';
            }
        }
        var script = document.createElement('script');
        var params = {
            referrer: encodeURIComponent(document.referrer),
            product: ""
        };
        script.src = '/js/tracking-analytics.js' + toQueryString(params);
        document.head.appendChild(script);
    </script>
    <script>
        try {
            Typekit.load()
        } catch(e) {}
    </script>
    <link href="/css/application.css" rel="preload" as="style" onload="this.rel='stylesheet'">
    <link href="/css/vendor.css" rel="preload" as="style" onload="this.rel='stylesheet'">
    <link href="/css/styles.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet" class="critical-source">
    <script>
        !function(a) {
                "use strict";
                var b = function(b, c, d) {
                    function j(a) {
                        if (e.body) return a();
                        setTimeout(function() {
                            j(a)
                        })
                    }
                    function l() {
                        f.addEventListener && f.removeEventListener("load", l),
                            f.media = d || "all"
                    }
                    var g, e = a.document,
                        f = e.createElement("link");
                    if (c) g = c;
                    else {
                        var h = (e.body || e.getElementsByTagName("head")[0]).childNodes;
                        g = h[h.length - 1]
                    }
                    var i = e.styleSheets;
                    f.rel = "stylesheet",
                        f.href = b,
                        f.media = "only x",
                        j(function() {
                            g.parentNode.insertBefore(f, c ? g: g.nextSibling)
                        });
                    var k = function(a) {
                        for (var b = f.href,
                                 c = i.length; c--;) if (i[c].href === b) return a();
                        setTimeout(function() {
                            k(a)
                        })
                    };
                    return f.addEventListener && f.addEventListener("load", l),
                        f.onloadcssdefined = k,
                        k(l),
                        f
                };
                "undefined" != typeof exports ? exports.loadCSS = b: a.loadCSS = b
            } ("undefined" != typeof global ? global: this);
        /*! loadCSS rel=preload polyfill. [c]2017 Filament Group, Inc. MIT License */
        !function(a) {
                if (a.loadCSS) {
                    var b = loadCSS.relpreload = {};
                    if (b.support = function() {
                            try {
                                return a.document.createElement("link").relList.supports("preload")
                            } catch(a) {
                                return ! 1
                            }
                        },
                            b.poly = function() {
                                for (var b = a.document.getElementsByTagName("link"), c = 0; c < b.length; c++) {
                                    var d = b[c];
                                    "preload" === d.rel && "style" === d.getAttribute("as") && (a.loadCSS(d.href, d, d.getAttribute("media")), d.rel = null)
                                }
                            },
                            !b.support()) {
                        b.poly();
                        var c = a.setInterval(b.poly, 300);
                        a.addEventListener && a.addEventListener("load",
                            function() {
                                b.poly(),
                                    a.clearInterval(c)
                            }),
                        a.attachEvent && a.attachEvent("onload",
                            function() {
                                a.clearInterval(c)
                            })
                    }
                }
            } (this);
    </script>
    <script src="/js/site.js" async="true">
    </script>
    <script src="/js/tp.widget.bootstrap.min.js" async="true">
    </script>
    <title>
        Policy | Comparing Insurance Quotes Made Simple
    </title>
    <meta property="og:title" content="Policy | Comparing Insurance Quotes Made Simple">
    <meta name="twitter:title" content="Policy | Comparing Insurance Quotes Made Simple">
    <meta name="description" content="America&apos;s #1 independent online insurance marketplace. Save money on life insurance, disability insurance, health insurance, pet insurance and more.">
    <meta property="og:description" content="America&apos;s #1 independent online insurance marketplace. Save money on life insurance, disability insurance, health insurance, pet insurance and more.">
    <meta name="twitter:description" content="America&apos;s #1 independent online insurance marketplace. Save money on life insurance, disability insurance, health insurance, pet insurance and more.">
    <meta property="og:image" content="https://www.datocms-assets.com/242/1487946507-desk-dude-right-2x-a88b73ac1d31471a255f62004093f328-png">
    <meta name="twitter:image" content="https://www.datocms-assets.com/242/1487946507-desk-dude-right-2x-a88b73ac1d31471a255f62004093f328-png">
    <meta property="og:locale" content="en_EN">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Policy">
    <meta property="article:modified_time" content="2017-10-23T18:32:25Z">
    <meta name="twitter:card" content="summary">
    <script src="/js/optimizely.js">
    </script>
    <link href="https://www.policy.com/">
</head>

<body>
<header>
    <div id="nav">
        <nav class="rcl-main_nav-module__wrapper--3GlO9">
            <div class="rcl-main_nav-module__main-panel--5pRJ6" style="z-index: 100;">
                <div class="rcl-main_nav-module__container--eZ0gS">
                    <div class="rcl-main_nav_logo-module__logo--2Kkyq">
                        <a href="/">Hainar</a>
                    </div>
                    <div class="rcl-main_nav-module__panel-wrapper--2t-eZ">
                        <div class="rcl-main_nav-module__primary-panel--3b5aJ">
                            <div class="rcl-main_nav-module__primary-panel-wrapper--3F4RT">
                                <ul class="rcl-main_nav-module__primary-nav--3sSWl">
                                    <li class="rcl-main_nav_primary_menu-module__header-wrapper--hvCz5" data-has-children="true">
                                        <a class="rcl-element-module__element--3tSHs rcl-element-module__semibold--1PevB rcl-colors__neutral-2--1A8lz rcl-main_nav_primary_menu-module__menu-header--2ZAdn" href="/insurance-checkup-and-advice/">关于我们</a></li>
                                    <li class="rcl-main_nav_primary_menu-module__header-wrapper--hvCz5 rcl-main_nav_primary_menu-module__has-children--2Rvmu rcl-main_nav_primary_menu-module__active--GSfLk">
                                        <span class="rcl-element-module__element--3tSHs rcl-element-module__semibold--1PevB rcl-colors__neutral-2--1A8lz rcl-main_nav_primary_menu-module__menu-header--2ZAdn">我们的服务</span>
                                        <div class="rcl-main_nav_primary_menu-module__submenu-wrapper--8HOIz rcl-main_nav_primary_menu-module__submenu-wrapper-active--3akP3">
                                            <ul class="rcl-main_nav_primary_menu-module__submenu--39Kkc">
                                                <li class="rcl-main_nav_submenu-module__item--1P68u rcl-main_nav_submenu-module__has-content--2qwPv">
                                                    <a href="/life-insurance/" style="padding-left: 0;" class="rcl-link_wrapper-module__link--3qKIJ rcl-colors__neutral-2--1A8lz rcl-link_wrapper-module__no-text-decoration--b6Hjm rcl-main_nav_submenu-module__header--2Wr7D">人寿保障</a></li>
                                                <li class="rcl-main_nav_submenu-module__item--1P68u rcl-main_nav_submenu-module__has-content--2qwPv">
                                                    <a href="/health-insurance/" class="rcl-link_wrapper-module__link--3qKIJ rcl-colors__neutral-2--1A8lz rcl-link_wrapper-module__no-text-decoration--b6Hjm rcl-main_nav_submenu-module__header--2Wr7D">健康及意外</a></li>
                                                <li class="rcl-main_nav_submenu-module__item--1P68u rcl-main_nav_submenu-module__has-content--2qwPv">
                                                    <a href="/renters-insurance/" class="rcl-link_wrapper-module__link--3qKIJ rcl-colors__neutral-2--1A8lz rcl-link_wrapper-module__no-text-decoration--b6Hjm rcl-main_nav_submenu-module__header--2Wr7D">储蓄险</a></li>
                                                <li class="rcl-main_nav_submenu-module__item--1P68u rcl-main_nav_submenu-module__has-content--2qwPv">
                                                    <a href="/pet-insurance/" class="rcl-link_wrapper-module__link--3qKIJ rcl-colors__neutral-2--1A8lz rcl-link_wrapper-module__no-text-decoration--b6Hjm rcl-main_nav_submenu-module__header--2Wr7D">团体险</a></li>
                                                <li class="rcl-main_nav_submenu-module__item--1P68u rcl-main_nav_submenu-module__has-content--2qwPv">
                                                    <a class="rcl-link_wrapper-module__link--3qKIJ rcl-colors__neutral-2--1A8lz rcl-link_wrapper-module__no-text-decoration--b6Hjm rcl-main_nav_submenu-module__header--2Wr7D">更多</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="rcl-main_nav_primary_menu-module__header-wrapper--hvCz5 rcl-main_nav_primary_menu-module__has-children--2Rvmu">
                                        <a class="rcl-element-module__element--3tSHs rcl-element-module__semibold--1PevB rcl-colors__neutral-2--1A8lz rcl-main_nav_primary_menu-module__menu-header--2ZAdn" href="/insurance-checkup-and-advice/">保险研究院</a></li>
                                    <li class="rcl-main_nav_primary_menu-module__header-wrapper--hvCz5 rcl-main_nav_primary_menu-module__has-children--2Rvmu">
                                        <a class="rcl-element-module__element--3tSHs rcl-element-module__semibold--1PevB rcl-colors__neutral-2--1A8lz rcl-main_nav_primary_menu-module__menu-header--2ZAdn" href="/insurance-checkup-and-advice/">常见问题</a></li>
                                </ul>
                                <ul class="rcl-main_nav-module__secondary-nav--1uCDp">
                                    <li class="rcl-main_nav_primary_menu-module__header-wrapper--hvCz5 rcl-main_nav_primary_menu-module__secondary-header-wrapper--2yHSS" data-has-children="true">
                                        <a class="rcl-element-module__element--3tSHs rcl-element-module__semibold--1PevB rcl-colors__neutral-2--1A8lz rcl-main_nav_primary_menu-module__menu-header--2ZAdn" href="/about/contact">Contact</a></li>
                                    <li class="rcl-main_nav_primary_menu-module__header-wrapper--hvCz5 rcl-main_nav_primary_menu-module__secondary-header-wrapper--2yHSS" data-has-children="true">
                                        <a class="rcl-element-module__element--3tSHs rcl-element-module__semibold--1PevB rcl-colors__neutral-2--1A8lz rcl-main_nav_primary_menu-module__menu-header--2ZAdn" href="/users/sign_in">Account</a></li>
                                    <li class="rcl-main_nav-module__mobile-scroll-buffer--f2V_W"></li>
                                </ul>
                            </div>
                        </div>
                        <div class="rcl-main_nav_search-module__search--3EIPg">
                            <div class="rcl-main_nav_search-module__search-icon--3SatY"></div>
                            <div class="rcl-main_nav_search-module__search-icon-mobile--m_PFa st-search-show-outputs"></div>
                            <input class="rcl-main_nav_search-module__input--GSkpT" data-search-input="" id="swiftype-search" name="query" placeholder="e.g. What is life insurance?" type="text" autocomplete="off" autocorrect="off" autocapitalize="off">
                            <div class="rcl-main_nav_search-module__icon-group--38ARh">
                                <div class="rcl-main_nav_close-module__close--2cK2j">
                                    <span class="rcl-main_nav_close-module__close-icon--2TGir"></span>
                                </div>
                                <div class="rcl-main_nav_hamburger-module__hamburger--ABWtG">
                                    <span class="rcl-main_nav_hamburger-module__hamburger-icon--HE9mI"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <script src="/js/env.js"></script>
    <script defer src="/js/bundle.js"></script>
</header>
<main>