        <div class="m-pai">
            <div class="title">
                <h2 class="H208">
                    <ul>
                        <li class="Li02 js_tab active"><a><u>用电视看</u></a></li>
                        <li class="Li01 js_tab"><a><u>用手机继续观看</u></a></li>
                    </ul>
                </h2>
            </div>
            <div class="list">
                <dl class="w100 active">
                    <dt><a target="_blank" href="#"><img alt="" src="http://i2.letvimg.com/cms/201306/27/b8ca4936dc1fa782f9a4e04f97eb887d6117.jpg"></a></dt>
                    <dd><p class="p1">乐视TV•超级电视，只为极致体验！</p><p class="p2">用超级电视观看精彩节目，尽享极速大屏互联网生活！</p><p class="p3"></p></dd>
                </dl>
                <dl class="w100">
                    <dt><a target="_blank" href="#"><img src="http://i3.letvimg.com/img/201302/18/ydkhd.png"></a></dt>
                    <dd><p class="p1">iPhone、Android 手机随身，观看随行。</p><p class="p2">扫描二维码安装客户端观看。</p><p><a class="blu" target="_blank" title="如何使用二维码" href="#">如何使用二维码？</a></p></dd>
                </dl>
            </div>
        </div>