<!---统计代码开始-->
<!---iResearch统计代码开始-->
<script type="text/javascript">
    (function (G, D, s, c, p) {
        c = {//监测配置
            UA: "UA-letv-000001", //客户项目编号,由系统生成
            NO_FLS: 0,
            WITH_REF: 1,
            URL: 'http://js.letvcdn.com/js/201401/15/1100/iwt.js'//请媒体自行托管iwt.js文件
        };
        if (typeof(_chlid) == 'undefined') {
            _chlid = 0;
        }
        p = [_chlid];//自定义监测参数
        G._iwt ? G._iwt.track(c, p) : (G._iwtTQ = G._iwtTQ || []).push([c, p]), !G._iwtLoading && lo();
        function lo(t) {
            G._iwtLoading = 1;
            s = D.createElement("script");
            s.src = c.URL;
            t = D.getElementsByTagName("script");
            t = t[t.length - 1];
            t.parentNode.insertBefore(s, t);
        }
    })(this, document);
</script>
<!---iResearch统计代码结束-->
<!--comscore开始-->
<script type="text/javascript">
    var _comscore = _comscore || [];
    _comscore.push({c1: "2", c2: "8640631"});
    $(function () {
        var s = document.createElement("script"), el = document.getElementsByTagName("script")[0];
        s.type = 'text/javascript';
        s.async = true;
        s.src = (document.location.protocol == "https:" ? "https://sb" : "http://b") + ".scorecardresearch.com/beacon.js";
        el.parentNode.insertBefore(s, el);
    });
</script>
<!--comscore结束-->
<!---统计代码结束-->