<div id="j-tab-typeindex" class="ind">
<div style="height:64px;" class="title">
    <h4>
        <i> 类型索引</i><span style="display:block; clear:both; float:right;">
        <a href="javascript:void(0);" data-tabbt="mv" class="active">电影</a>
        <a href="javascript:void(0);" data-tabbt="tv">电视剧</a>
        <a href="javascript:void(0);" data-tabbt="cm">动漫</a>
        <a href="javascript:void(0);" data-tabbt="zy">综艺</a>
        <a href="javascript:void(0);" data-tabbt="jl">纪录片</a>
        </span>
        <div style="clear:both;"></div>
    </h4>
</div>
<div class="sort">
<div class="list active" data-tabct="mv_child">
    <h6>
        按类型
    </h6>
    <p class="p1">
        <a href="http://list.letv.com/listn/c1_t30008_a-1_y-1_s1_lg-1_ph-1_md_o17_d1_p.html" target="_blank"> 剧情</a>
        <a href="http://list.letv.com/listn/c1_t30009_a-1_y-1_s1_lg-1_ph-1_md_o17_d1_p.html" target="_blank"> 喜剧</a>
        <a href="http://list.letv.com/listn/c1_t30010_a-1_y-1_s1_lg-1_ph-1_md_o17_d1_p.html" target="_blank"> 动作</a>
        <a href="http://list.letv.com/listn/c1_t30011_a-1_y-1_s1_lg-1_ph-1_md_o17_d1_p.html" target="_blank"> 爱情</a>
        <a href="http://list.letv.com/listn/c1_t30012_a-1_y-1_s1_lg-1_ph-1_md_o17_d1_p.html" target="_blank"> 恐怖</a>
        <a href="http://list.letv.com/listn/c1_t30013_a-1_y-1_s1_lg-1_ph-1_md_o17_d1_p.html" target="_blank"> 动画</a>
        <a href="http://list.letv.com/listn/c1_t30014_a-1_y-1_s1_lg-1_ph-1_md_o17_d1_p.html" target="_blank"> 战争</a>
        <a href="http://list.letv.com/listn/c1_t30015_a-1_y-1_s1_lg-1_ph-1_md_o17_d1_p.html" target="_blank"> 惊悚</a>
        <a href="http://list.letv.com/listn/c1_t30016_a-1_y-1_s1_lg-1_ph-1_md_o17_d1_p.html" target="_blank"> 悬疑</a>
        <a href="http://list.letv.com/listn/c1_t30017_a-1_y-1_s1_lg-1_ph-1_md_o17_d1_p.html" target="_blank"> 奇幻</a>
        <a href="http://list.letv.com/listn/c1_t30018_a-1_y-1_s1_lg-1_ph-1_md_o17_d1_p.html" target="_blank"> 犯罪</a>
        <a href="http://list.letv.com/listn/c1_t30019_a-1_y-1_s1_lg-1_ph-1_md_o17_d1_p.html" target="_blank"> 冒险</a>
        <a href="http://list.letv.com/listn/c1_t30020_a-1_y-1_s1_lg-1_ph-1_md_o17_d1_p.html" target="_blank"> 科幻</a>
        <a href="http://list.letv.com/listn/c1_t30021_a-1_y-1_s1_lg-1_ph-1_md_o17_d1_p.html" target="_blank"> 警匪</a>
        <a href="http://list.letv.com/listn/c1_t30022_a-1_y-1_s1_lg-1_ph-1_md_o17_d1_p.html" target="_blank"> 武侠</a>
        <a href="http://list.letv.com/listn/c1_t30023_a-1_y-1_s1_lg-1_ph-1_md_o17_d1_p.html" target="_blank"> 灾难</a>
        <a href="http://list.letv.com/listn/c1_t30024_a-1_y-1_s1_lg-1_ph-1_md_o17_d1_p.html" target="_blank"> 伦理</a>
        <a href="http://list.letv.com/listn/c1_t30025_a-1_y-1_s1_lg-1_ph-1_md_o17_d1_p.html" target="_blank"> 歌舞</a>
        <a href="http://list.letv.com/listn/c1_t30026_a-1_y-1_s1_lg-1_ph-1_md_o17_d1_p.html" target="_blank"> 家庭</a>
        <a href="http://list.letv.com/listn/c1_t30027_a-1_y-1_s1_lg-1_ph-1_md_o17_d1_p.html" target="_blank"> 纪录</a>
        <a href="http://list.letv.com/listn/c1_t30153_a-1_y-1_s1_lg-1_ph-1_md_o17_d1_p.html" target="_blank"> 历史</a>
        <a href="http://list.letv.com/listn/c1_t30154_a-1_y-1_s1_lg-1_ph-1_md_o17_d1_p.html" target="_blank"> 短片</a>
        <a href="http://list.letv.com/listn/c1_t30155_a-1_y-1_s1_lg-1_ph-1_md_o17_d1_p.html" target="_blank"> 传记</a>
        <a href="http://list.letv.com/listn/c1_t30156_a-1_y-1_s1_lg-1_ph-1_md_o17_d1_p.html" target="_blank"> 体育</a>
    </p>
    <h6>
        按地区
    </h6>
    <p class="p2">
        <a href="http://list.letv.com/listn/c1_t-1_a50001_y-1_s1_lg-1_ph-1_md_o17_d1_p.html" target="_blank"> 中国大陆</a>
        <a href="http://list.letv.com/listn/c1_t-1_a50002_y-1_s1_lg-1_ph-1_md_o17_d1_p.html" target="_blank"> 中国香港</a>
        <a href="http://list.letv.com/listn/c1_t-1_a50003_y-1_s1_lg-1_ph-1_md_o17_d1_p.html" target="_blank"> 中国台湾</a>
        <a href="http://list.letv.com/listn/c1_t-1_a50041_y-1_s1_lg-1_ph-1_md_o17_d1_p.html" target="_blank"> 日本</a>
        <a href="http://list.letv.com/listn/c1_t-1_a50042_y-1_s1_lg-1_ph-1_md_o17_d1_p.html" target="_blank"> 韩国</a>
        <a href="http://list.letv.com/listn/c1_t-1_a50071_y-1_s1_lg-1_ph-1_md_o17_d1_p.html" target="_blank"> 美国</a>
        <a href="http://list.letv.com/listn/c1_t-1_a50101_y-1_s1_lg-1_ph-1_md_o17_d1_p.html" target="_blank"> 泰国</a>
        <a href="http://list.letv.com/listn/c1_t-1_a50075_y-1_s1_lg-1_ph-1_md_o17_d1_p.html" target="_blank"> 法国</a>
    </p>
</div>
<div class="list" data-tabct="tv_child">
    <h6>
        按类型
    </h6>
    <p class="p1">
        <a href="http://list.letv.com/listn/c2_t30008_a-1_y-1_s1_md_o20_d1_p.html" target="_blank"> 剧情</a>
        <a href="http://list.letv.com/listn/c2_t30024_a-1_y-1_s1_md_o20_d1_p.html" target="_blank"> 伦理</a>
        <a href="http://list.letv.com/listn/c2_t30009_a-1_y-1_s1_md_o20_d1_p.html" target="_blank"> 喜剧</a>
        <a href="http://list.letv.com/listn/c2_t30317_a-1_y-1_s1_md_o20_d1_p.html" target="_blank"> 军旅</a>
        <a href="http://list.letv.com/listn/c2_t30017_a-1_y-1_s1_md_o20_d1_p.html" target="_blank"> 奇幻</a>
        <a href="http://list.letv.com/listn/c2_t30010_a-1_y-1_s1_md_o20_d1_p.html" target="_blank"> 动作</a>
        <a href="http://list.letv.com/listn/c2_t30014_a-1_y-1_s1_md_o20_d1_p.html" target="_blank"> 战争</a>
        <a href="http://list.letv.com/listn/c2_t30022_a-1_y-1_s1_md_o20_d1_p.html" target="_blank"> 武侠</a>
        <a href="http://list.letv.com/listn/c2_t30018_a-1_y-1_s1_md_o20_d1_p.html" target="_blank"> 犯罪</a>
        <a href="http://list.letv.com/listn/c2_t30016_a-1_y-1_s1_md_o20_d1_p.html" target="_blank"> 悬疑</a>
        <a href="http://list.letv.com/listn/c2_t30320_a-1_y-1_s1_md_o20_d1_p.html" target="_blank"> 偶像</a>
        <a href="http://list.letv.com/listn/c2_t30039_a-1_y-1_s1_md_o20_d1_p.html" target="_blank"> 都市</a>
        <a href="http://list.letv.com/listn/c2_t30153_a-1_y-1_s1_md_o20_d1_p.html" target="_blank"> 历史</a>
        <a href="http://list.letv.com/listn/c2_t30023_a-1_y-1_s1_md_o20_d1_p.html" target="_blank"> 灾难</a>
        <a href="http://list.letv.com/listn/c2_t30042_a-1_y-1_s1_md_o20_d1_p.html" target="_blank"> 古装</a>
        <a href="http://list.letv.com/listn/c2_t30020_a-1_y-1_s1_md_o20_d1_p.html" target="_blank"> 科幻</a>
        <a href="http://list.letv.com/listn/c2_t30044_a-1_y-1_s1_md_o20_d1_p.html" target="_blank"> 情景</a>
        <a href="http://list.letv.com/listn/c2_t30045_a-1_y-1_s1_md_o20_d1_p.html" target="_blank"> 生活</a>
        <a href="http://list.letv.com/listn/c2_t30046_a-1_y-1_s1_md_o20_d1_p.html" target="_blank"> 情感</a>
        <a href="http://list.letv.com/listn/c2_t30026_a-1_y-1_s1_md_o20_d1_p.html" target="_blank"> 家庭</a>
        <a href="http://list.letv.com/listn/c2_t30318_a-1_y-1_s1_md_o20_d1_p.html" target="_blank"> 谍战</a>
        <a href="http://list.letv.com/listn/c2_t30319_a-1_y-1_s1_md_o20_d1_p.html" target="_blank"> 刑侦</a>
    </p>
    <h6>
        按地区
    </h6>
    <p class="p2">
        <a href="http://list.letv.com/listn/c2_t-1_a50001_y-1_s1_md_o20_d1_p.html" target="_blank"> 中国大陆</a>
        <a href="http://list.letv.com/listn/c2_t-1_a50002_y-1_s1_md_o20_d1_p.html" target="_blank"> 中国香港</a>
        <a href="http://list.letv.com/listn/c2_t-1_a50003_y-1_s1_md_o20_d1_p.html" target="_blank"> 中国台湾</a>
        <a href="http://list.letv.com/listn/c2_t-1_a50041_y-1_s1_md_o20_d1_p.html" target="_blank"> 日本</a>
        <a href="http://list.letv.com/listn/c2_t-1_a50042_y-1_s1_md_o20_d1_p.html" target="_blank"> 韩国</a>
        <a href="http://list.letv.com/listn/c2_t-1_a50071_y-1_s1_md_o20_d1_p.html" target="_blank"> 美国</a>
        <a href="http://list.letv.com/listn/c2_t-1_a50072_y-1_s1_md_o20_d1_p.html" target="_blank"> 英国</a>
        <a href="http://list.letv.com/listn/c2_t-1_a50101_y-1_s1_md_o20_d1_p.html" target="_blank"> 泰国</a>
    </p>
</div>
<div class="list" data-tabct="cm_child">
    <h6>
        按类型
    </h6>
    <p class="p1">
        <a href="http://list.letv.com/listn/c5_t-1_a-1_y-1_vt-1_f-1_s1_lg-1_st-1_md_o20_d1_p.html" target="_blank">全部</a>
        <a href="http://list.letv.com/listn/c5_t30261_a-1_y-1_vt-1_f-1_s1_lg-1_st-1_md_o20_d1_p.html" target="_blank">战斗</a>
        <a href="http://list.letv.com/listn/c5_t30050_a-1_y-1_vt-1_f-1_s1_lg-1_st-1_md_o20_d1_p.html" target="_blank">热血</a>
        <a href="http://list.letv.com/listn/c5_t30019_a-1_y-1_vt-1_f-1_s1_lg-1_st-1_md_o20_d1_p.html" target="_blank">冒险</a>
        <a href="http://list.letv.com/listn/c5_t30017_a-1_y-1_vt-1_f-1_s1_lg-1_st-1_md_o20_d1_p.html" target="_blank">奇幻</a>
        <a href="http://list.letv.com/listn/c5_t30264_a-1_y-1_vt-1_f-1_s1_lg-1_st-1_md_o20_d1_p.html" target="_blank">治愈</a>
        <a href="http://list.letv.com/listn/c5_t30057_a-1_y-1_vt-1_f-1_s1_lg-1_st-1_md_o20_d1_p.html" target="_blank">搞笑</a>
        <a href="http://list.letv.com/listn/c5_t30063_a-1_y-1_vt-1_f-1_s1_lg-1_st-1_md_o20_d1_p.html" target="_blank">恋爱</a>
        <a href="http://list.letv.com/listn/c5_t30088_a-1_y-1_vt-1_f-1_s1_lg-1_st-1_md_o20_d1_p.html" target="_blank">校园</a>
        <a href="http://list.letv.com/listn/c5_t30265_a-1_y-1_vt-1_f-1_s1_lg-1_st-1_md_o20_d1_p.html" target="_blank">魔法</a>
        <a href="http://list.letv.com/listn/c5_t30054_a-1_y-1_vt-1_f-1_s1_lg-1_st-1_md_o20_d1_p.html" target="_blank">励志</a>
        <a href="http://list.letv.com/listn/c5_t30051_a-1_y-1_vt-1_f-1_s1_lg-1_st-1_md_o20_d1_p.html" target="_blank">机战</a>
        <a href="http://list.letv.com/listn/c5_t30266_a-1_y-1_vt-1_f-1_s1_lg-1_st-1_md_o20_d1_p.html" target="_blank">日常</a>
        <a href="http://list.letv.com/listn/c5_t30020_a-1_y-1_vt-1_f-1_s1_lg-1_st-1_md_o20_d1_p.html" target="_blank">科幻</a>
        <a href="http://list.letv.com/listn/c5_t30061_a-1_y-1_vt-1_f-1_s1_lg-1_st-1_md_o20_d1_p.html" target="_blank">悬疑推理</a>
        <a href="http://list.letv.com/listn/c5_t30015_a-1_y-1_vt-1_f-1_s1_lg-1_st-1_md_o20_d1_p.html" target="_blank">惊悚</a>
        <a href="http://list.letv.com/listn/c5_t30269_a-1_y-1_vt-1_f-1_s1_lg-1_st-1_md_o20_d1_p.html" target="_blank">竞技</a>
        <a href="http://list.letv.com/listn/c5_t30053_a-1_y-1_vt-1_f-1_s1_lg-1_st-1_md_o20_d1_p.html" target="_blank">美少女</a>
        <a href="http://list.letv.com/listn/c5_t30062_a-1_y-1_vt-1_f-1_s1_lg-1_st-1_md_o20_d1_p.html" target="_blank">LOLI</a>
        <a href="http://list.letv.com/listn/c5_t30270_a-1_y-1_vt-1_f-1_s1_lg-1_st-1_md_o20_d1_p.html" target="_blank">后宫</a>
        <a href="http://list.letv.com/listn/c5_t30271_a-1_y-1_vt-1_f-1_s1_lg-1_st-1_md_o20_d1_p.html" target="_blank">百合</a>
        <a href="http://list.letv.com/listn/c5_t30272_a-1_y-1_vt-1_f-1_s1_lg-1_st-1_md_o20_d1_p.html" target="_blank">耽美</a>
        <a href="http://list.letv.com/listn/c5_t30052_a-1_y-1_vt-1_f-1_s1_lg-1_st-1_md_o20_d1_p.html" target="_blank">运动</a>
        <a href="http://list.letv.com/listn/c5_t30059_a-1_y-1_vt-1_f-1_s1_lg-1_st-1_md_o20_d1_p.html" target="_blank">神魔</a>
        <a href="http://list.letv.com/listn/c5_t30055_a-1_y-1_vt-1_f-1_s1_lg-1_st-1_md_o20_d1_p.html" target="_blank">怪物</a>
        <a href="http://list.letv.com/listn/c5_t30060_a-1_y-1_vt-1_f-1_s1_lg-1_st-1_md_o20_d1_p.html" target="_blank">男性向</a>
        <a href="http://list.letv.com/listn/c5_t30056_a-1_y-1_vt-1_f-1_s1_lg-1_st-1_md_o20_d1_p.html" target="_blank">女性向</a>
        <a href="http://list.letv.com/listn/c5_t30089_a-1_y-1_vt-1_f-1_s1_lg-1_st-1_md_o20_d1_p.html" target="_blank">成人</a>
        <a href="http://list.letv.com/listn/c5_t30058_a-1_y-1_vt-1_f-1_s1_lg-1_st-1_md_o20_d1_p.html" target="_blank">真人</a>
        <a href="http://list.letv.com/listn/c5_t30273_a-1_y-1_vt-1_f-1_s1_lg-1_st-1_md_o20_d1_p.html" target="_blank">童话</a>
        <a href="http://list.letv.com/listn/c5_t30274_a-1_y-1_vt-1_f-1_s1_lg-1_st-1_md_o20_d1_p.html" target="_blank">英雄</a>
        <a href="http://list.letv.com/listn/c5_t30275_a-1_y-1_vt-1_f-1_s1_lg-1_st-1_md_o20_d1_p.html" target="_blank">益智</a>
        <a href="http://list.letv.com/listn/c5_t30354_a-1_y-1_vt-1_f-1_s1_lg-1_st-1_md_o20_d1_p.html" target="_blank">魔幻</a>
        <a href="http://list.letv.com/listn/c5_t30010_a-1_y-1_vt-1_f-1_s1_lg-1_st-1_md_o20_d1_p.html" target="_blank">动作</a>
        <a href="http://list.letv.com/listn/c5_t30278_a-1_y-1_vt-1_f-1_s1_lg-1_st-1_md_o20_d1_p.html" target="_blank">教育</a>
        <a href="http://list.letv.com/listn/c5_t30279_a-1_y-1_vt-1_f-1_s1_lg-1_st-1_md_o20_d1_p.html" target="_blank">轻松</a>
        <a href="http://list.letv.com/listn/c5_t30280_a-1_y-1_vt-1_f-1_s1_lg-1_st-1_md_o20_d1_p.html" target="_blank">神话</a>
        <a href="http://list.letv.com/listn/c5_t30045_a-1_y-1_vt-1_f-1_s1_lg-1_st-1_md_o20_d1_p.html" target="_blank">生活</a>
        <a href="http://list.letv.com/listn/c5_t30282_a-1_y-1_vt-1_f-1_s1_lg-1_st-1_md_o20_d1_p.html" target="_blank">宠物</a>
        <a href="http://list.letv.com/listn/c5_t30039_a-1_y-1_vt-1_f-1_s1_lg-1_st-1_md_o20_d1_p.html" target="_blank">都市</a>
    </p>
    <h6>
        按地区
    </h6>
    <p class="p2">
        <a href="http://list.letv.com/listn/c5_t-1_a-1_y-1_vt-1_f-1_s1_lg-1_st-1_md_o20_d1_p.html" target="_blank">全部</a>
        <a href="http://list.letv.com/listn/c5_t-1_a50001_y-1_vt-1_f-1_s1_lg-1_st-1_md_o20_d1_p.html" target="_blank">中国大陆</a>
        <a href="http://list.letv.com/listn/c5_t-1_a50041_y-1_vt-1_f-1_s1_lg-1_st-1_md_o20_d1_p.html" target="_blank">日本</a>
        <a href="http://list.letv.com/listn/c5_t-1_a50071_y-1_vt-1_f-1_s1_lg-1_st-1_md_o20_d1_p.html" target="_blank">美国</a>
        <a href="http://list.letv.com/listn/c5_t-1_a50072_y-1_vt-1_f-1_s1_lg-1_st-1_md_o20_d1_p.html" target="_blank">英国</a>
        <a href="http://list.letv.com/listn/c5_t-1_a50073_y-1_vt-1_f-1_s1_lg-1_st-1_md_o20_d1_p.html" target="_blank">加拿大</a>
        <a href="http://list.letv.com/listn/c5_t-1_a50002_y-1_vt-1_f-1_s1_lg-1_st-1_md_o20_d1_p.html" target="_blank">中国香港</a>
        <a href="http://list.letv.com/listn/c5_t-1_a50003_y-1_vt-1_f-1_s1_lg-1_st-1_md_o20_d1_p.html" target="_blank">中国台湾</a>
        <a href="http://list.letv.com/listn/c5_t-1_a50042_y-1_vt-1_f-1_s1_lg-1_st-1_md_o20_d1_p.html" target="_blank">韩国</a>
        <a href="http://list.letv.com/listn/c5_t-1_a50009_y-1_vt-1_f-1_s1_lg-1_st-1_md_o20_d1_p.html" target="_blank">法国</a>
        <a href="http://list.letv.com/listn/c5_t-1_a50009_y-1_vt-1_f-1_s1_lg-1_st-1_md_o20_d1_p.html" target="_blank">泰国</a>
        <a href="http://list.letv.com/listn/c5_t-1_a50009_y-1_vt-1_f-1_s1_lg-1_st-1_md_o20_d1_p.html" target="_blank">马来西亚</a>
        <a href="http://list.letv.com/listn/c5_t-1_a50009_y-1_vt-1_f-1_s1_lg-1_st-1_md_o20_d1_p.html" target="_blank">新加坡</a>
        <a href="http://list.letv.com/listn/c5_t-1_a50009_y-1_vt-1_f-1_s1_lg-1_st-1_md_o20_d1_p.html" target="_blank">西班牙</a>
        <a href="http://list.letv.com/listn/c5_t-1_a50009_y-1_vt-1_f-1_s1_lg-1_st-1_md_o20_d1_p.html" target="_blank">俄罗斯</a>
    </p>
</div>
    <div class="list" data-tabct="zy_child">
        <h6>
            按类型
        </h6>
        <p class="p1">
            <a href="http://list.letv.com/listn/c11_t30046_a-1_s1_tv-1_md_o9_d2_p.html" target="_blank"> 情感</a>
            <a href="http://list.letv.com/listn/c11_t30083_a-1_s1_tv-1_md_o9_d2_p.html" target="_blank"> 访谈</a>
            <a href="http://list.letv.com/listn/c11_t30284_a-1_s1_tv-1_md_o9_d2_p.html" target="_blank"> 纪实</a>
            <a href="http://list.letv.com/listn/c11_t30045_a-1_s1_tv-1_md_o9_d2_p.html" target="_blank"> 生活</a>
            <a href="http://list.letv.com/listn/c11_t30167_a-1_s1_tv-1_md_o9_d2_p.html" target="_blank"> 时尚</a>
            <a href="http://list.letv.com/listn/c11_t30069_a-1_s1_tv-1_md_o9_d2_p.html" target="_blank"> 美食</a>
            <a href="http://list.letv.com/listn/c11_t30072_a-1_s1_tv-1_md_o9_d2_p.html" target="_blank"> 选秀</a>
            <a href="http://list.letv.com/listn/c11_t30070_a-1_s1_tv-1_md_o9_d2_p.html" target="_blank"> 游戏</a>
            <a href="http://list.letv.com/listn/c11_t30075_a-1_s1_tv-1_md_o9_d2_p.html" target="_blank"> 真人秀</a>
            <a href="http://list.letv.com/listn/c11_t30082_a-1_s1_tv-1_md_o9_d2_p.html" target="_blank"> 播报</a>
            <a href="http://list.letv.com/listn/c11_t30057_a-1_s1_tv-1_md_o9_d2_p.html" target="_blank"> 搞笑</a>
            <a href="http://list.letv.com/listn/c11_t30065_a-1_s1_tv-1_md_o9_d2_p.html" target="_blank"> 脱口秀</a>
            <a href="http://list.letv.com/listn/c11_t30290_a-1_s1_tv-1_md_o9_d2_p.html" target="_blank"> 文化</a>
            <a href="http://list.letv.com/listn/c11_t30291_a-1_s1_tv-1_md_o9_d2_p.html" target="_blank"> 曲艺</a>
            <a href="http://list.letv.com/listn/c11_t30025_a-1_s1_tv-1_md_o9_d2_p.html" target="_blank"> 歌舞</a>
            <a href="http://list.letv.com/listn/c11_t30293_a-1_s1_tv-1_md_o9_d2_p.html" target="_blank"> 看点</a>
            <a href="http://list.letv.com/listn/c11_t30323_a-1_s1_tv-1_md_o9_d2_p.html" target="_blank"> 其他</a>
        </p>
        <h6>
            按地区
        </h6>
        <p class="p2">
        <a href="http://list.letv.com/listn/c11_t-1_a50001_s1_tv-1_md_o9_d2_p.html" target="_blank">
            中国大陆</a>
        <a href="http://list.letv.com/listn/c11_t-1_a50002,50003_s1_tv-1_md_o9_d2_p.html" target="_blank">
            中国港台</a>
        </p>
    </div>
        <div class="list" data-tabct="jl_child">
            <h6>
                按类型
            </h6>
            <p class="p1">
                <a href="http://list.letv.com/listn/c16_t-1_md_o1_d2_p.html" target="_blank">全部</a>
                <a title="自然" href="http://list.letv.com/listn/c16_t30112_md_o1_d2_p.html" target="_blank">自然</a>
                <a title="动物" href="http://list.letv.com/listn/c16_t30113_md_o1_d2_p.html" target="_blank">动物</a>
                <a title="科学" href="http://list.letv.com/listn/c16_t30114_md_o1_d2_p.html" target="_blank">科学</a>
                <a title="地理" href="http://list.letv.com/listn/c16_t30115_md_o1_d2_p.html" target="_blank">地理</a>
                <a title="天文" href="http://list.letv.com/listn/c16_t30116_md_o1_d2_p.html" target="_blank">天文</a>
                <a title="气候" href="http://list.letv.com/listn/c16_t30117_md_o1_d2_p.html" target="_blank">气候</a>
                <a title="战争" href="http://list.letv.com/listn/c16_t30014_md_o1_d2_p.html" target="_blank">战争</a>
                <a title="军事" href="http://list.letv.com/listn/c16_t30119_md_o1_d2_p.html" target="_blank">军事</a>
                <a title="历史" href="http://list.letv.com/listn/c16_t30153_md_o1_d2_p.html" target="_blank">历史</a>
                <a title="考古" href="http://list.letv.com/listn/c16_t30121_md_o1_d2_p.html" target="_blank">考古</a>
                <a title="社会" href="http://list.letv.com/listn/c16_t30122_md_o1_d2_p.html" target="_blank">社会</a>
                <a title="犯罪" href="http://list.letv.com/listn/c16_t30018_md_o1_d2_p.html" target="_blank">犯罪</a>
                <a title="金融" href="http://list.letv.com/listn/c16_t30124_md_o1_d2_p.html" target="_blank">金融</a>
                <a title="人物" href="http://list.letv.com/listn/c16_t30125_md_o1_d2_p.html" target="_blank">人物</a>
                <a title="艺术" href="http://list.letv.com/listn/c16_t30126_md_o1_d2_p.html" target="_blank">艺术</a>
                <a title="人文" href="http://list.letv.com/listn/c16_t30127_md_o1_d2_p.html" target="_blank">人文</a>
                <a title="建筑" href="http://list.letv.com/listn/c16_t30128_md_o1_d2_p.html" target="_blank">建筑</a>
                <a title="美食" href="http://list.letv.com/listn/c16_t30069_md_o1_d2_p.html" target="_blank">美食</a>
                <a title="百科" href="http://list.letv.com/listn/c16_t30130_md_o1_d2_p.html" target="_blank">百科</a>
                <a title="环保" href="http://list.letv.com/listn/c16_t30131_md_o1_d2_p.html" target="_blank">环保</a>
                <a title="公开课" href="http://list.letv.com/listn/c16_t100000_md_o1_d2_p.html" target="_blank">公开课</a>
            </p>
        </div>
</div>
</div>