<!DOCTYPE html>
<!--[if IE 7 ]> <html class="lte_ie lte_ie8"> <![endif]-->
<!--[if IE 8 ]> <html class="lte_ie lte_ie8"> <![endif]-->
<!--[if IE ]> <html class="lte_ie"> <![endif]-->
<!--[if !(IE) ]><!--> <html> <!--<![endif]-->
<head lang="en">
    <meta charset="UTF-8">
    <title><%= description.name %>_<%= description.name %><%= htmlTitle %></title>
    <meta name="keywords" content="<%= description.name %><%= htmlKeyword %>" />
    <meta name="description" content="<%= htmlDesc %>" />
    <link rel="Shortcut Icon" href="http://www.le.com/favicon.ico"/>
    <link rel="apple-touch-icon-precomposed" href="http://i1.letvimg.com/img/201206/29/iphonelogo.png"/>
    <%- detailCss %>
    <%- detailBase %>
    <script type="text/javascript">
        var __INFO__ = {
            pageInfo : {
                'site':'P',
                'type':'<%= htmlType %>_details',
                'cid': <%= htmlCid %>,
            },
            video: {
                'pid': '<%= info.pid %>',
                'moreVid': '<%= editOrderPlay.id %>',
                'vid': '<%= description.firstVid %>',
                'url': '<%= description.url %>'
            },
            title: '<%= description.name %>',
            desp: '<%= description.descData.description %>'
        }
    </script>
</head>
<body>
<%- allPiece.responsiveJS_New %>
<div class="Head">
    <!-- 最新版公共-频道首页头部html -->
    <%- allPiece.bigHeadV3 %>
</div>
