<%- include("./frags/head.html", {
        htmlType: 'zongyi',
        htmlCid: 11,
        htmlName: '综艺',
        htmlTitle: '综艺全集_最新一期在线观看-乐视网',
        htmlKeyword: '，' + description.name + '综艺，' + description.name + '最新一期，' + description.name + '在线观看，' + description.name + '全集',
        htmlDesc: description.descData.description
}) %>

<!--头部-->
<div class="details_top">
    <div class="top_inner">
        <%- include("./frags/top_inner_left.html") %>
        <div class="inner_right">
            <%- include("./frags/top_inner_right_tit.html", {htmlCode: 'ch=detail&pg=zongyidetails&bk=detailtitle', htmlHref: '//zongyi.le.com'}) %>
            <%- include("./frags/infoItems/gengxin.html", {
                htmlGengxinLabel: '期'
            }) %>
            <!-- alias 别名, releaseDate 首播, playStatus 播出时间, score 评分，compere 主持人， starring 固定嘉宾，area 地区， subCategory 类型， playNum 总播放数，commNum 总评论数, playTv 播出， officialUrl 进入专题-->
            <%- include("./frags/top_inner_right_con.html", {
                    htmlReleaseDateLabel: '首播',
                    htmlPlayStatusLabel: '播出时间',
                    htmlStarringLabel: '固定嘉宾',
                    htmlItems: ['alias', 'releaseDate', 'playStatus', 'score', 'compere', 'starring', 'area', 'subCategory', 'playNum', 'commNum', 'playTv', 'officialUrl'],
                    htmlReleaseDateHref: ''
            }) %>
            <%- include("./frags/top_inner_right_des.html") %>
            <%- include("./frags/top_inner_right_botm.html") %>
        </div>
    </div>
</div>

<!--头部下方-->
<div class="column" id="top" name="top">
    <!--左侧-->
    <div class="col_20">
        <div class="column_title left_tit">
            <ul class="tab_lists">
                <li class="active" curname="gl"><a href="javascript:;">概览</a></li>
                <% if(featureInfo.length >= 3){ %><li curname="jckd" data="{'platform': 'pc', 'pid': '<%= info.pid %>', 'page': '1', 'pagesize': '100', 'bit': '0'}"><a href="javascript:;">精彩看点</a></li><% } %>
                <li curname="comment"><a href="javascript:;">乐迷畅谈</a></li>
            </ul>
        </div>
        <div class="tab_cnt list_box">
            <div class="list_box gl_child">
                <!--往期节目-->
                <% if (episodeInfo) { %>
                <div class="show_play" id="first_videolist">
                    <div class="column_title">
                        <h2><a href="javascript:;" title="往期节目">往期节目</a></h2>
                    </div>
                    <div class="column_body">
                        <div class="tuwen_drama j_tuwen_drama">
                            <div class="tuwen_box">
                                <div class="tuwen_box_tit years">
                                    <div class="ico_prev arr_left icon_font icon_left"></div>
                                    <div class="years_list tuwen_box_tit_juji_list">
                                        <ul class="juji_list">
                                            <% if (zongyiYears) { %>
                                            <% var homepage = zongyiYears[0] %>
                                            <% zongyiYears.forEach(function($item, $i) { %>
                                            <li year="<%= zongyiYears[$i] %>" data="{'pid': '<%= info.pid %>', 'year': '<%= zongyiYears[$i] %>', 'platform': 'pc'}" class="<%= $i===0 ? 'on curOn active' : '' %>"><a href="javascript:;"><%= zongyiYears[$i] %></a></li>
                                            <% }) %>
                                            <% } %>
                                        </ul>
                                    </div>
                                    <div class="ico_next arr_right icon_font icon_right"></div>
                                </div>
                                <div class="j_all_tuwen">
                                    <div class="show_cnt h688 twxj-<%= homepage %>" data-state-area="ch=detail&pg=zongyidetails&bk=first_episode">
                                        <% episodeInfo.forEach(function($item, $i){ %>
                                        <%
                                            var ico = '';
                                            var iconame = '';
                                            if ($item.chargeType === 1) {
                                                ico = 'ico_vip';
                                                iconame = '会员';
                                            }  else if ($item.chargeType === 2) {
                                                ico = 'ico_vpay';
                                                iconame = '付费';
                                            }  else if ($item.chargeType === 3) {
                                                ico = 'ico_vcoupons';
                                                iconame = '用券';
                                            }
                                        %>
                                        <div class="col_4">
                                            <dl class="dl_temp" index="<%= $i %>">
                                                <dd class="d_img">
                                                    <a href="<%= $item.videoUrl %>" target="_blank" title="<%= $item.sub_title %>">
                                                        <img src="http://i2.letvimg.com/lc04_img/201607/01/10/55/dl_temp.png">
                                                        <i data-src="<%= $item.pic %>"></i>
                                                        <span class="video_info"><%= $item.videoDuration %></span>
                                                        <em class="<%= ($i<3) ? 'ico_green' : '' %>"><%= ($i<3) ? '最新' : '' %></em>
                                                        <em class="<%= ico %>"><%= iconame ? iconame : '' %></em>
                                                    </a>
                                                </dd>
                                                <dt class="d_tit">
                                                    <a href="<%= $item.videoUrl %>" target="_blank" title="<%= $item.sub_title %>"><%= $item.videoEpisode.substr(5) %></a>
                                                </dt>
                                                <dd class="d_cnt"><%= $item.sub_title || $item.title %></dd>
                                            </dl>
                                        </div>
                                        <% }) %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="show_bar view_more">
                        <a href="javascript:;"><b>展开查看全部</b>
                            <i class="icon_font icon_moreup"></i>
                        </a>
                    </div>
                </div>
                <% } %>

                <!--精彩看点-->
                <% if (featureInfo.length >= 3) { %>
                <div id="first_jckd" data-state-area="ch=detail&pg=zongyidetails&bk=first_jckd">
                    <div class="column_title">
                        <h2><a href="javascript:;" category="jckd" title="精彩看点">精彩看点</a></h2>
                        <a class="more" href="javascript:;" category="jckd"><span>更多</span><i class="icon_font icon_more"></i></a>
                    </div>
                    <div class="column_body show_cnt h522 best_dl">
                        <% featureInfo.forEach(function($item, $i){ %>
                        <div class="col_4">
                            <dl class="dl_temp" index="<%= $i %>">
                                <dd class="d_img">
                                    <a href="<%= $item.videoUrl %>" target="_blank" title="<%= $item.sub_title %>">
                                        <img src="http://i2.letvimg.com/lc04_img/201607/01/10/55/dl_temp.png" alt="<?=!sub_title?>">
                                        <i data-src="<%= $item.pic %>"></i>
                                        <span class="video_info"><%= $item.videoDuration %></span>
                                    </a>
                                </dd>
                                <dt class="d_tit">
                                    <a href="<%= $item.videoUrl %>" target="_blank" title="<%= $item.title %>"><%= clipStr($item.title, 28, 31, '...') %></a>
                                </dt>
                                <dd class="d_cnt" title="<%= $item.sub_title %>"><%= $item.sub_title || '' %></dd>
                            </dl>
                        </div>
                        <% }) %>
                    </div>
                </div>
                <% } %>

                <!-- 广告 -->
                <%- include("./frags/adBanner.html", {
                        htmlClassName: 'Banner',
                        htmlIdName: 'JS_H_ad_1'
                }) %>

                <!--乐迷评论-->
                <%- include("./frags/comment_box.html") %>
            </div>
            <div class="list_box jckd_child" id="jckd_child" style="display:none"></div>
            <div class="list_box comment_child" style="display:none">
                <%- include("./frags/comment_box.html") %>
            </div>
        </div>
    </div>

    <!-- 右侧-->
    <div class="col_6">
        <%- include("./frags/bottom_right.html", {
                htmlPlaceholderTpl: 'rec_zongyi_placeholder',
                htmlHotMore: 'http://top.le.com/varhp.html',
                htmlHotMoreAp: 'ch=detail&pg=zongyidetails&bk=hot_rank&num=more'
        }) %>
    </div>
</div>

<%- include("./frags/tail.html") %>