<!-- directory -->
<% if (description.descData.directory) { %>
<li>
    <b><%= htmlDirectoryLabel %>：</b>
    <%
        var directorys = '', pos = 0, length = Object.getOwnPropertyNames(description.descData.directory).length;
        for(var j in description.descData.directory){
            directorys += description.descData.directory[j];
            if(pos !== (length - 1)) {
                directorys += '/';
            }
            pos ++;
        }
    %>
    <span title="<%= directorys %>">
        <% var pos = 0, length = Object.getOwnPropertyNames(description.descData.directory).length;
           for(var i in description.descData.directory){ %>
        <a href="http://so.le.com/s?wd=<%= encodeURIComponent(description.descData.directory[i]) %>&from=list" target="_blank">
            <%= description.descData.directory[i] %>
            <% if(pos !== (length-1)) { %><i class="sprit">/</i><% } %>
        </a>
        <% pos ++;
        } %>
    </span>
</li>
<% } %>