<div class="ji_num">
    <% if (description.descData.nowEpisodes) { %>
    <p class="ji_new">
        <span>更新至</span>
        <span class="new_num"><%= description.descData.nowEpisodes %></span>
        <span><%= htmlGengxinLabel %></span>
    </p>
    <% } %>
    <% if (description.descData.episode) { %>
    <p class="ji_total">
        <span>共</span>
        <span class="total_num"><%= description.descData.episode %></span>
        <span><%= htmlGengxinLabel %></span>
    </p>
    <% } %>
</div>