<%- include("./frags/head.html", {
    htmlType: 'movie',
    htmlCid: 1,
    htmlName: '电影',
    htmlTitle: '_电影_在线观看_演员表_下载-乐视网',
    htmlKeyword: '_电影_在线观看_演员表_下载-乐视网',
    htmlDesc: description.name + '是由' + description.descData.direct + '导演，' + description.descData.star + '主演的' + description.descData.type + '电影。乐视网为您提供' + description.name + '在线观看、' + description.name + '演员表、影片下载等相关信息，更多精彩内容尽在乐视网。'
}) %>

<!--头部-->
<div class="details_top">
    <div class="top_inner">
        <%- include("./frags/top_inner_left.html") %>
        <div class="inner_right">
            <%- include("./frags/top_inner_right_tit.html", {htmlCode: 'ch=detail&pg=moviedetails&bk=detailtitle', htmlHref: '//movie.le.com'}) %>
            <!-- alias 别名, releaseDate 上映，letvReleaseDate 乐视开播,score 评分, starring 主演， directory 导演，area 地区  -->
            <%- include("./frags/top_inner_right_con.html", {
                    htmlReleaseDateLabel: '上映',
                    htmlDirectoryLabel: '导演',
                    htmlStarringLabel: '主演',
                    htmlItems: ['alias', 'releaseDate', 'letvReleaseDate', 'score', 'starring', 'directory', 'area', 'subCategory', 'playNum', 'commNum', 'releaseDate', 'officialUrl'],
                    htmlReleaseDateHref: 'http://list.le.com/listn/c1_t-1_a-1_y' + description.releaseDate.substr(0,4) + '_s1_lg-1_ph-1_md_o17_d1_p.html'
            }) %>
            <%- include("./frags/top_inner_right_des.html") %>
            <%- include("./frags/top_inner_right_botm.html") %>
        </div>
    </div>
</div>

<!--头部下方-->
<div class="column" id="top" name="top">
    <!--左侧-->
    <div class="col_20">
        <div class="column_title left_tit">
            <ul class="tab_lists">
                <li class="active" curname="gl"><a href="javascript:;">概览</a><i class="ico_tab"></i></li>
                <% if(yugaoInfo){ %><li curname="ygp" data="{'pid': '<%= info.pid %>', 'platform': 'pc'}"><a href="javascript:;">预告片</a></li><% } %>
                <% if(starWorks.length){ %><li curname="tzyzp" data="{'starring_ids': '<%= info.starID %>', 'platform': 'pc'}"><a href="javascript:;">同主演作品</a></li><% } %>
                <% if(directWorks.length){ %><li curname="dyzp" data="{'platform': 'pc', 'director_id': '<%= info.directID %>'}"><a href="javascript:;">导演作品</a></li><% } %>
                <li curname="comment"><a href="javascript:;">乐迷畅谈</a></li>
            </ul>
        </div>
        <div class="tab_cnt list_box">
            <div class="list_box gl_child">
                <!--预告片-->
                <%- include("./frags/contentItems/yugaoInfo.html", {htmlAp:'ch=detail&pg=moviedetails&bk=first_ygp'}) %>

                <!--同主演作品-->
                <% if(starWorks.length) { %>
                <div class="best_play first_tzyzp" id="first_tzyzp" data-state-area="ch=detail&pg=moviedetails&bk=first_tzyzp">
                    <div class="column_title">
                        <h2><a href="javascript:;" category="tzyzp">同主演作品</a></h2>
                        <% if (starWorks.length > 5) { %>
                        <a class="j-more more" href="javascript:;" category="tzyzp"><span>更多</span><i class="icon_font icon_more"></i></a>
                        <% } %>
                    </div>
                    <div class="column_body movie_starcnt col_screen">
                        <%
                            var index = 0;
                            var resp = '';
                            var startWorks = starWorks.slice(0, 8);
                        %>
                        <% startWorks.forEach(function($item, $i) {
                            var hide_flag = '';
                            if ($i === 5) {
                                hide_flag = 'hide_1024';
                            } else if($i === 6 || $i === 7) {
                                hide_flag = 'hide_1280';
                            }
                        %>
                        <div class="col_3 <%= hide_flag %>" index="<%= $i %>">
                            <dl class="hot_str" id="hot_str">
                                <dt>
                                    <a href="http://so.le.com/s?wd=<%= encodeURIComponent($item.name) %>&from=list" title='<%= $item.name %>' target="_blank">
                                        <img src="http://i0.letvimg.com/img/201207/30/tx200.png">
                                        <i data-src="<%= $item.pic ? $item.pic : 'http://i0.letvimg.com/img/201207/30/tx200.png' %>"></i>
                                    </a>
                                    <p class="hot_tit">
                                        <a href='http://so.le.com/s?wd=<%= encodeURIComponent($item.name) %>&from=list'><%= $item.name %></a>
                                    </p>
                                </dt>
                                <dd>
                                    <%
                                        var work = '', vid = '';
                                        if($item.works && $item.works.length > 0){
                                            work = $item.works[0].title;
                                            vid = $item.works[0].vid;
                                            for(var m = 0; m < $item.works.length; m++) {
                                                if($item.works[m].title !== description.name){
                                                    work = $item.works[m].title;
                                                    vid = $item.works[m].vid;
                                                    break;
                                                }
                                            }
                                        }
                                    %>
                                    <p><a href='http://www.le.com/ptv/vplay/<%= vid %>.html' target="_blank"><%= work %></a></p>
                                </dd>
                            </dl>
                        </div>
                        <% }) %>
                    </div>
                </div>
                <% } %>

                <!-- 导演作品 -->
                <% if(directWorks.length) { %>
                <div id="first_dyzp" data-state-area="ch=detail&pg=moviedetails&bk=first_dyzp">
                    <div class="column_title">
                        <h2><a href="javascript:;" category="dyzp" title="导演作品">导演作品</a></h2>
                        <% if (directWorks.length > 3) { %>
                        <a class="j-more more" href="javascript:;" category="dyzp"><span>更多</span><i class="icon_font icon_more"></i></a>
                        <% } %>
                    </div>
                    <div class="column_body show_cnt xgmovie_cnt">
                        <% directWorks.forEach(function($item, $i) { %>
                        <%
                            var hide_flag = '';
                            if($i === 3) {
                                hide_flag = 'hide_1024';
                            } else if($i === 4){
                                hide_flag = 'hide_1280';
                            }
                            var ico = '';
                            var iconame = '';
                            if ($item.chargeType === 1) {
                                ico = 'ico_vip';
                                iconame = '会员';
                            }  else if ($item.chargeType === 2) {
                                ico = 'ico_vpay';
                                iconame = '付费';
                            }  else if ($item.chargeType === 3) {
                                ico = 'ico_vcoupons';
                                iconame = '用券';
                            }
                        %>
                        <div class="col_4 <%= hide_flag %>" index="<%= $i %>">
                            <dl class="dl_movie dl_temp">
                                <dd class="d_img">
                                    <a href="http://www.le.com/ptv/vplay/<%= $item.vid %>.html" target="_blank" title="<%= $item.title %>">
                                        <img src="http://i2.letvimg.com/lc04_img/201607/01/10/55/dl_temp.png">
                                        <i data-src="<%= $item.pic ? $item.pic : 'http://i2.letvimg.com/lc04_img/201607/01/10/55/dl_temp.png' %>"></i>
                                        <% if ($item.rating) { %>
                                        <span class="video_score"><%= $item.rating.toFixed(1) %></span>
                                        <% } %>
                                        <em class="<%= ico %>"><%= iconame ? iconame : '' %></em>
                                    </a>
                                </dd>
                                <dt class="d_tit">
                                    <a href="http://www.le.com/ptv/vplay/<%= $item.vid %>.html" target="_blank" title="<%= $item.title %>"><%= $item.title %></a>
                                </dt>
                                <dd class="d_cnt"><%= $item.subtitle || $item.title %></dd>
                            </dl>
                        </div>
                        <% }) %>
                    </div>
                </div>
                <% } %>

                <!-- 广告 -->
                <%- include("./frags/adBanner.html", {
                        htmlClassName: 'Banner',
                        htmlIdName: 'JS_H_ad_1'
                }) %>

                <!--乐迷评论-->
                <%- include("./frags/comment_box.html") %>
            </div>
            <div class="list_box ygp_child" id="ygp_child" style="display:none"></div>
            <div class="list_box xgdy_child" id="xgdy_child" style="display:none"></div>
            <div class="list_box tzyzp_child" id="tzyzp_child" style="display:none"></div>
            <div class="list_box dyzp_child" id="dyzp_child" style="display:none"></div>
            <div class="list_box comment_child" style="display:none">
                <%- include("./frags/comment_box.html") %>
            </div>
        </div>
    </div>

    <!-- 右侧-->
    <div class="col_6">
        <%- include("./frags/bottom_right.html", {
                htmlPlaceholderTpl: 'rec_movie_placeholder',
                htmlHotMore: 'http://top.le.com/filmhp.html',
                htmlHotMoreAp: 'ch=detail&pg=moviedetails&bk=hot_rank&num=more'
        }) %>
    </div>
</div>

<%- include("./frags/tail.html") %>