<%- include("./frags/head.html", {
        htmlType: 'tv',
        htmlCid: 2,
        htmlName: '电视剧',
        htmlTitle: '电视剧_全集在线观看_剧情介绍_演员表-乐视网',
        htmlKeyword: '_电视剧_在线观看_演员表_下载-乐视网',
        htmlDesc: description.name + '是由' + description.descData.direct + '导演，' + description.descData.star + '主演的' + description.descData.type + '电影。乐视网为您提供' + description.name + '在线观看、' + description.name + '演员表、影片下载等相关信息，更多精彩内容尽在乐视网。'
}) %>

<!--头部-->
<div class="details_top">
    <div class="top_inner">
        <%- include("./frags/top_inner_left.html") %>
        <div class="inner_right">
            <%- include("./frags/top_inner_right_tit.html", {htmlCode: 'ch=detail&pg=tvdetails&bk=detailtitle', htmlHref: '//tv.le.com'}) %>
            <%- include("./frags/infoItems/gengxin.html", {
                    htmlGengxinLabel: '集'
            }) %>
            <!-- [ 别名 alias, 年代 releaseDate, 更新时间 playStatus, 评分 score, 主演 starring, 导演 directory, 地区 area, 类型 subCategory, 总播放数 playNum, 评论 commNum, 进入专题 officialUrl ] -->
            <%- include("./frags/top_inner_right_con.html", {
                    htmlReleaseDateLabel: '年代',
                    htmlPlayStatusLabel: '更新时间',
                    htmlDirectoryLabel: '导演',
                    htmlStarringLabel: '主演',
                    htmlItems: ['alias','releaseDate', 'playStatus', 'score', 'starring', 'directory', 'area', 'subCategory', 'playNum', 'commNum', 'officialUrl'],
                    htmlReleaseDateHref: 'http://list.le.com/listn/c2_t-1_a-1_y' + description.releaseDate.substr(0,4) + '_s1_md_o20_d1_p.html'
            }) %>
            <%- include("./frags/top_inner_right_des.html") %>
            <%- include("./frags/top_inner_right_botm.html") %>
        </div>
    </div>
</div>

<!--头部下方-->
<div class="column" id="top" name="top">
    <!--左侧-->
    <div class="col_20">
        <div class="column_title left_tit">
            <ul class="tab_lists">
                <li class="active" curname="gl">
                    <a href="javascript:;">概览</a>
                </li>
                <% if(yugaoInfo){ %>
                <li curname="ygp" data="{'pid': '<%= info.pid %>', 'platform': 'pc'}">
                    <a href="javascript:;">预告片</a>
                </li>
                <% } %>
                <% if(featureInfo.length >= 3){ %>
                <li curname="hx" data="{'pid': '<%= info.pid %>', 'platform': 'pc'}">
                    <a href="javascript:;">花絮</a>
                </li>
                <% } %>
                <% if(fenjiInfo){ %>
                <li curname="fjjq" data="{'pid': '<%= info.pid %>', 'platform': 'pc', 'page': '1' ,'pagesize': '300'}">
                    <a href="javascript:;">分集剧情</a>
                </li>
                <% } %>
                <li curname="comment"><a href="javascript:;">乐迷畅谈</a></li>
            </ul>
        </div>
        <div class="tab_cnt list_box">
            <div class="list_box gl_child">
                <!--juji-->
                <%- include("./frags/contentItems/juji.html") %>

                <!--预告片-->
                <%- include("./frags/contentItems/yugaoInfo.html", {htmlAp:'ch=detail&pg=tvdetails&bk=first_ygp'}) %>

                <!-- 花絮 -->
                <% if (featureInfo.length >= 3) { %>
                <div id="first_hx" data-state-area="ch=detail&pg=tvdetails&bk=first_hx">
                    <div class="column_title">
                        <h2><a href="javascript:;" category="hx">花絮</a></h2>
                        <% if (featureInfo.length > 3) { %>
                        <a class="j-more more" href="javascript:;" category="hx"><span>更多</span><i class="icon_font icon_more"></i></a>
                        <% } %>
                    </div>
                    <div class="column_body show_cnt best_dl">
                        <%
                            featureInfo.forEach(function($item, $i) {
                                var hide_flag = '';
                                if($i === 3) {
                                    hide_flag = 'hide_1024';
                                } else if($i === 4) {
                                    hide_flag = 'hide_1280';
                                }
                            var ico = '';
                            var iconame = '';
                            if ($item.chargeType === 1) {
                                ico = 'ico_vip';
                                iconame = '会员';
                            }  else if ($item.chargeType === 2) {
                                ico = 'ico_vpay';
                                iconame = '付费';
                            }  else if ($item.chargeType === 3) {
                                ico = 'ico_vcoupons';
                                iconame = '用券';
                            }
                        %>
                        <div class="col_4 <%= hide_flag %>" index="<%= $i %>">
                            <dl class="dl_temp">
                                <dd class="d_img">
                                    <a href="<%= $item.videoUrl %>" target="_blank" title="<%= $item.title %>">
                                        <img src="http://i2.letvimg.com/lc04_img/201607/01/10/55/dl_temp.png">
                                        <i data-src="<%= $item.pic %>"></i>
                                        <span class="video_info"><%= $item.videoDuration %></span>
                                        <em class="<%= ico %>"><%= iconame ? iconame : '' %></em>
                                    </a>
                                </dd>
                                <dt class="d_tit">
                                    <a href="<%= $item.videoUrl %>" target="_blank" title="<%= $item.title %>"><%= clipStr($item.title, 28, 31, '...') %></a>
                                </dt>
                                <dd class="d_cnt"><%= $item.subTitle || '' %></dd>
                            </dl>
                        </div>
                        <% }) %>
                    </div>
                </div>
                <% } %>

                <!-- 分集剧情 -->
                <% if(fenjiInfo) { %>
                <div class="tv_juq first_fjjq" id="first_fjjq" data-state-area="ch=detail&pg=tvdetails&bk=first_fjjq">
                    <div class="column_title">
                        <h2><a href="javascript:;" category="fjjq">分集剧情</a></h2>
                        <a class="more" href="javascript:;" category="fjjq"><span>更多</span><i class="icon_font icon_more"></i></a>
                    </div>
                    <div class="column_body show_cnt best_dl">
                        <div class="cross_box">
                            <% fenjiInfo.forEach(function($item, $i){ %>
                            <%
                                var ico = '';
                                var iconame = '';
                                if ($item.chargeType === 1) {
                                    ico = 'ico_vip';
                                    iconame = '会员';
                                }  else if ($item.chargeType === 2) {
                                    ico = 'ico_vpay';
                                    iconame = '付费';
                                }  else if ($item.chargeType === 3) {
                                    ico = 'ico_vcoupons';
                                    iconame = '用券';
                                }
                            %>
                            <dl class="dl_temp_w1080">
                                <dt class="d_img">
                                    <a href="<%= $item.videoUrl %>" title="<%= $item.title %>" target="_blank">
                                        <img src="http://i2.letvimg.com/lc04_img/201607/01/10/55/dl_temp.png" alt="<%= $item.title %>">
                                        <i data-src="<%= $item.pic %>"></i>
                                        <span class="video_score number-txt"><%= $item.videoDuration %></span>
                                        <em class="<%= ico %>"><%= iconame ? iconame : '' %></em>
                                    </a>
                                </dt>
                                <dd class="d_cnt">
                                    <h4 class="juq_tit">
                                        <a href="<%= $item.videoUrl %>" title="<%= $item.title %>" target="_blank"><span class="tv_epinum"><%= $item.videoEpisode %></span></a>
                                    </h4>
                                    <p class="juq_con">
                                        <b><%= $item.description %></b><span class="juq_more" parts="ch-<%= $i+1 %>"><span>展开</span><i class="icon_moreup icon_font"></i></span>
                                    </p>
                                </dd>
                            </dl>
                            <% }) %>
                        </div>
                    </div>
                </div>
                <% } %>

                <!-- 广告 -->
                <%- include("./frags/adBanner.html", {
                        htmlClassName: 'Banner',
                        htmlIdName: 'JS_H_ad_1'
                }) %>

                <!--乐迷评论-->
                <%- include("./frags/comment_box.html") %>
            </div>
            <div class="list_box ygp_child" id="ygp_child" style="display:none"></div>
            <div class="list_box hx_child" id="hx_child" style="display:none"></div>
            <div class="list_box fjjq_child" id="fjjq_child" style="display:none"></div>
            <div class="list_box comment_child" style="display:none">
                <%- include("./frags/comment_box.html") %>
            </div>
        </div>
    </div>
    <!-- 右侧-->
    <div class="col_6">
        <%- include("./frags/bottom_right.html", {
                htmlPlaceholderTpl: 'rec_tv_placeholder',
                htmlHotMore: 'http://top.le.com/tvhp.html',
                htmlHotMoreAp: 'ch=detail&pg=tvdetails&bk=hot_rank&num=more'
        }) %>
    </div>
</div>

<%- include("./frags/tail.html") %>