<!--主持人 compere-->
<% if (description.descData.compere) { %>
<li>
    <b>主持人：</b>
    <%
        var comperes = '', pos = 0, length = Object.getOwnPropertyNames(description.descData.compere).length;
        for(var j in description.descData.compere){
            comperes += description.descData.compere[j];
            if(pos !== (length - 1)) {
                comperes += '/';
            }
            pos ++;
        }
    %>
    <span title="<%= comperes %>">
        <% var pos = 0, length = Object.getOwnPropertyNames(description.descData.compere).length;
           for(var i in description.descData.compere){ %>
        <a href="http://so.le.com/s?wd=<%= encodeURIComponent(description.descData.compere[i]) %>&from=list" target="_blank">
            <%= description.descData.compere[i] %>
            <% if(pos !== (length-1)) { %><i class="sprit">/</i><% } %>
        </a>
        <% pos ++;
        } %>
    </span>
</li>
<% } %>