<!-- starring -->
<% if (description.descData.starring) { %>
<li>
    <b><%= htmlStarringLabel %>：</b>
    <%
        var starrings = '', pos = 0, length = Object.getOwnPropertyNames(description.descData.starring).length;
        for(var j in description.descData.starring) {
            starrings += description.descData.starring[j];
            pos ++;
            if(pos !== length - 1) {
                starrings += '/';
            }
        }
    %>
    <span title="<%= starrings %>">
        <% var pos = 0, length = Object.getOwnPropertyNames(description.descData.starring).length; %>
        <% for(var i in description.descData.starring){ %>
        <a href="http://so.le.com/s?wd=<%= encodeURIComponent(description.descData.starring[i]) %>&from=list" target="_blank">
            <%= description.descData.starring[i] %>
            <% pos ++; if (pos !== length - 1) { %><i class="sprit">/</i><% } %>
        </a>
        <% } %>
    </span>
</li>
<% } %>