<!-- 类型 subCategory -->
<% if (description.descData.subCategory) { %>
<li>
    <b>类型：</b>
    <%
        var categorys = '', pos = 0, length = Object.getOwnPropertyNames(description.descData.subCategory).length;
        for(var j in description.descData.subCategory) {
            categorys += description.descData.subCategory[j];
            if(pos !== length - 1) {
                categorys += '/';
            }
            pos++;
        }
    %>
    <span title="<%= categorys %>">
        <% var pos = 0, index = 0, length = Object.getOwnPropertyNames(description.descData.subCategory).length;
            for(var i in description.descData.subCategory){ %>
        <a href="<%= description.descData.typeLink[index++] %>" target="_blank">
            <%= description.descData.subCategory[i] %>
            <% if(pos !== (length-1)) { %><i class="sprit">/</i><% } %>
        </a>
        <% pos++;
        } %>
    </span>
</li>
<% } %>